In [ ]:
import numpy as np
import pandas as pan
from sklearn import linear_model
import matplotlib.pyplot as plt
from bokeh.plotting import figure, output_file, show
import math


# Load the diabetes dataset
head_bias = ['dist', 'amp','1', '2', '3', '4', '5', '6', '7', '8', '9', 'id1']
head_bias1 = ['dist1', 'amp1','1', '2', '3', '4', '5', '6', '7', '8', '9', 'id']
res = pan.read_csv("/Users/pietrodimarco/IdeaProjects/fittpy/results.csv",names=head_bias)
res2 = pan.read_csv("/Users/pietrodimarco/IdeaProjects/fittpy/results2.csv",names=head_bias1)

In [212]:
frame=[res,res2]
result=pan.concat(frame,axis=1)
result=result.drop(['id1', 'dist1','amp1','id'],axis=1)
result=result.assign(id = lambda x: np.log(x.dist/x.amp+1))
result

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dist</th>
      <th>amp</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>...</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>500.0</td>
      <td>25.0</td>
      <td>606</td>
      <td>811</td>
      <td>851</td>
      <td>858</td>
      <td>989</td>
      <td>1055</td>
      <td>1062</td>
      <td>917</td>
      <td>...</td>
      <td>929</td>
      <td>982</td>
      <td>859</td>
      <td>778</td>
      <td>974</td>
      <td>713</td>
      <td>673</td>
      <td>673</td>
      <td>1063</td>
      <td>3.044522</td>
    </tr>
    <tr>
      <th>1</th>
      <td>500.0</td>
      <td>10.0</td>
      <td>1119</td>
      <td>941</td>
      <td>933</td>
      <td>1080</td>
      <td>1004</td>
      <td>1014</td>
      <td>1087</td>
      <td>1152</td>
      <td>...</td>
      <td>883</td>
      <td>1014</td>
      <td>795</td>
      <td>1135</td>
      <td>2526</td>
      <td>1304</td>
      <td>1111</td>
      <td>852</td>
      <td>1168</td>
      <td>3.931826</td>
    </tr>
    <tr>
      <th>2</th>
      <td>400.0</td>
      <td>25.0</td>
      <td>811</td>
      <td>1042</td>
      <td>648</td>
      <td>650</td>
      <td>826</td>
      <td>836</td>
      <td>722</td>
      <td>746</td>
      <td>...</td>
      <td>681</td>
      <td>665</td>
      <td>738</td>
      <td>747</td>
      <td>680</td>
      <td>746</td>
      <td>690</td>
      <td>593</td>
      <td>907</td>
      <td>2.833213</td>
    </tr>
    <tr>
      <th>3</th>
      <td>400.0</td>
      <td>10.0</td>
      <td>803</td>
      <td>877</td>
      <td>664</td>
      <td>844</td>
      <td>779</td>
      <td>932</td>
      <td>819</td>
      <td>1169</td>
      <td>...</td>
      <td>2377</td>
      <td>1347</td>
      <td>1000</td>
      <td>1079</td>
      <td>923</td>
      <td>1234</td>
      <td>892</td>
      <td>1128</td>
      <td>1220</td>
      <td>3.713572</td>
    </tr>
    <tr>
      <th>4</th>
      <td>200.0</td>
      <td>25.0</td>
      <td>510</td>
      <td>690</td>
      <td>494</td>
      <td>551</td>
      <td>519</td>
      <td>633</td>
      <td>503</td>
      <td>592</td>
      <td>...</td>
      <td>812</td>
      <td>738</td>
      <td>624</td>
      <td>649</td>
      <td>543</td>
      <td>640</td>
      <td>648</td>
      <td>584</td>
      <td>608</td>
      <td>2.197225</td>
    </tr>
    <tr>
      <th>5</th>
      <td>200.0</td>
      <td>10.0</td>
      <td>810</td>
      <td>749</td>
      <td>809</td>
      <td>795</td>
      <td>925</td>
      <td>1046</td>
      <td>1192</td>
      <td>779</td>
      <td>...</td>
      <td>794</td>
      <td>851</td>
      <td>793</td>
      <td>709</td>
      <td>900</td>
      <td>817</td>
      <td>811</td>
      <td>892</td>
      <td>844</td>
      <td>3.044522</td>
    </tr>
  </tbody>
</table>
<p>6 rows Ã— 21 columns</p>
</div>

In [236]:
from collections import defaultdict
trainX=list()
trainY=list()
avgThr=list()
for row in result.itertuples():
    sum=0
    for i in range(2, len(row)-2):
        sum+=row[len(row)-1]/(row[i]/1000)
        trainY.append(row[i]/1000)
        trainX.append(row[len(row)-1])
        avgThr.append(sum/18)
            
trainY = np.asarray(trainY)
trainX = np.asarray(trainX)
print(trainX)
print(trainY)

[ 3.04452244  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244
  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244
  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244
  3.93182563  3.93182563  3.93182563  3.93182563  3.93182563  3.93182563
  3.93182563  3.93182563  3.93182563  3.93182563  3.93182563  3.93182563
  3.93182563  3.93182563  3.93182563  3.93182563  3.93182563  3.93182563
  2.83321334  2.83321334  2.83321334  2.83321334  2.83321334  2.83321334
  2.83321334  2.83321334  2.83321334  2.83321334  2.83321334  2.83321334
  2.83321334  2.83321334  2.83321334  2.83321334  2.83321334  2.83321334
  3.71357207  3.71357207  3.71357207  3.71357207  3.71357207  3.71357207
  3.71357207  3.71357207  3.71357207  3.71357207  3.71357207  3.71357207
  3.71357207  3.71357207  3.71357207  3.71357207  3.71357207  3.71357207
  2.19722458  2.19722458  2.19722458  2.19722458  2.19722458  2.19722458
  2.19722458  2.19722458  2.19722458  2.19722458  2.19722458  2.19722458
  2.19722458  2.19722458  2.19722458  2.19722458  2.19722458  2.19722458
  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244
  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244
  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244  3.04452244]
[ 0.025  0.606  0.811  0.851  0.858  0.989  1.055  1.062  0.917  0.806
  0.929  0.982  0.859  0.778  0.974  0.713  0.673  0.673  0.01   1.119
  0.941  0.933  1.08   1.004  1.014  1.087  1.152  1.074  0.883  1.014
  0.795  1.135  2.526  1.304  1.111  0.852  0.025  0.811  1.042  0.648
  0.65   0.826  0.836  0.722  0.746  0.819  0.681  0.665  0.738  0.747
  0.68   0.746  0.69   0.593  0.01   0.803  0.877  0.664  0.844  0.779
  0.932  0.819  1.169  1.013  2.377  1.347  1.     1.079  0.923  1.234
  0.892  1.128  0.025  0.51   0.69   0.494  0.551  0.519  0.633  0.503
  0.592  0.705  0.812  0.738  0.624  0.649  0.543  0.64   0.648  0.584
  0.01   0.81   0.749  0.809  0.795  0.925  1.046  1.192  0.779  0.68
  0.794  0.851  0.793  0.709  0.9    0.817  0.811  0.892]

In [242]:
regr = linear_model.LinearRegression()
regr.fit(trainX.reshape(108,1),trainY.reshape(108,1))
mean=pan.DataFrame(columns=['id','avgThr'])
for first,second in zip(avgThr,result['id']):
    mean.loc[len(mean)]=[second,first]
mean

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>avgThr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3.044522</td>
      <td>6.765605</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3.931826</td>
      <td>7.044715</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2.833213</td>
      <td>7.253272</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3.713572</td>
      <td>7.452027</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2.197225</td>
      <td>7.649160</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3.044522</td>
      <td>7.820181</td>
    </tr>
  </tbody>
</table>
</div>

In [238]:

mean_dic = defaultdict(list)
for row in mean.itertuples():
    mean_dic[row[1]].append(row[2])

In [239]:
pred = regr.predict(trainX.reshape(108,1))
print('Coefficient: ',regr.coef_)
print('intercept: ',regr.intercept_)

Coefficient:  [[ 0.28224547]]
intercept:  [-0.05890228]

In [240]:


# Create a trace
trace = go.Scatter(
    x = trainX,
    y = trainY,
    mode = 'markers'
)
trace1 = go.Scatter(
    x = trainX,
    y = pred
)

data = [trace,trace1]

layout = go.Layout(
    xaxis=dict(
        title='ID',
        titlefont=dict(
            family='Arial, sans-serif',
            size=18,
            color='lightgrey'
        ),
        tickfont=dict(
            size=14,
            color='white'
        ),
        showticklabels=True,
        tickangle=45,
        showexponent='All'
    ),
    yaxis=dict(
        title='MovementTime',
        titlefont=dict(
            family='Arial, sans-serif',
            size=18,
            color='lightgrey'
        ),
        tickfont=dict(
            size=14,
            color='white'
        ),
        showticklabels=True,
        tickangle=45,
        showexponent='All'
    ),
    barmode='group',
    bargroupgap=0.01,
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [241]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='pietrodimarco', api_key='sKrtjrFshiLPUvAGKx8Q')

l=list()
i=0
for row in mean.itertuples():
    l.append(go.Bar(x=row[1],y=row[2],text=row[2],textposition = 'auto'))
    i+=1


data = l
layout = go.Layout(
    xaxis=dict(
        title='ID',
        titlefont=dict(
            family='Arial, sans-serif',
            size=18,
            color='lightgrey'
        ),
        tickfont=dict(
            size=14,
            color='white'
        ),
        showticklabels=True,
        tickangle=45,
        showexponent='All'
    ),
    yaxis=dict(
        title='Throughput',
        titlefont=dict(
            family='Arial, sans-serif',
            size=18,
            color='lightgrey'
        ),
        tickfont=dict(
            size=14,
            color='white'
        ),
        showticklabels=True,
        tickangle=45,
        showexponent='All'
    ),
    barmode='group',
    bargroupgap=0.01,
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')